---
import Tags from '../components/Tags.astro'
import Layout from '../layouts/Layout.astro'

export async function getStaticPaths() {
  const posts = await Astro.glob('../../species/*.md')
  return posts.map(post => ({
    params: {
      name: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }))
}
const { Content, frontmatter } = Astro.props.post
const { name, tag, slug, an, al } = frontmatter
---

<Layout title={name}>
  <Tags active={tag} />
  <div class="species">
    <h1>{name}</h1>
    <img src={`/${slug}.avif`} alt={name} width={an} height={al} />
    <Content />
  </div>
</Layout>

<style>
  .species {
    margin: 2ch 0;
    display: flex;
    flex-direction: column;
    background-size: 400%;
  }

  img {
    width: 100%;
    height: auto;
    opacity: 0.8;
    margin: 4ch 0 4ch;
    border-radius: 1ch;
    aspect-ratio-box: auto;
  }
</style>
