---
const { posts } = Astro.props
---

<ul role="list" class="link-card-grid">
  {posts?.map(post => (

    <li class="link-card">
      <a href={`/${post.frontmatter.url}`} {post.frontmatter.name}>
      <img
      src={`./${post.frontmatter.url}.avif`}
      alt={post.frontmatter.name}
      width={post.frontmatter.an}
      height={post.frontmatter.al}
      loading="lazy"
      />
      
      <div class="data">
        <h2>{post.frontmatter.name}</h2>
        </div>
        </a>
        </li>
        ))}
</ul>

<style>
  .link-card-grid {
    gap: 3ch;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  }

  .link-card {
    display: flex;
    list-style: none;
    background-size: 400%;
    border-radius: 0.5rem;
    border: 1px solid #cecece;
    background-position: 100%;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    overflow: hidden;
  }

  .link-card > a {
    width: 100%;
    opacity: 0.8;
    line-height: 1.4;
    border-radius: 0.35rem;
    text-decoration: none;
    background-color: white;
    color: var(--text-color);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 0.3rem 0.3rem 0 0;
    aspect-ratio-box: auto;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover) img {
    transform: scale(1.05);
  }

  .link-card .data {
    gap: 1.5ch;
    padding: 1.5ch;
    display: flex;
    flex-direction: column;
  }

  .link-card:is(:hover) h2 {
    color: var(--color-primary);
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  h2 {
    margin: 0;
    opacity: 1;
  }
</style>
