---
const { name, distribution, url, an, al } = Astro.props
---

<li class="link-card">
  <a href={`/${url}`} {name}>
    <img
      src={`./${url}.avif`}
      alt={name}
      width={an}
      height={al}
      loading="lazy"
    />

    <div class="data">
      <h3>{name}</h3>
      <p>
        {distribution}
      </p>
    </div>
  </a>
</li>
<style>
  .link-card {
    display: flex;
    list-style: none;
    background-size: 400%;
    border-radius: 0.5rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card > a {
    width: 100%;
    opacity: 0.8;
    line-height: 1.4;
    border-radius: 0.35rem;
    text-decoration: none;
    background-color: white;
    color: var(--text-color);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 0.3rem 0.3rem 0 0;
    aspect-ratio-box: auto;
  }

  .link-card .data {
    gap: 1.5ch;
    padding: 1.5ch;
    display: flex;
    flex-direction: column;
  }

  .link-card:is(:hover, :focus-within) h3 {
    color: #4f39fa;
    transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) > a {
    border: rgb(77, 77, 77);
    box-shadow: 0px 7px 30px 10px rgb(0, 0, 0, 0.1);
  }
</style>
